body{
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Verdana;
    color: white;
}
nav{
    position: 0px;
}
.box{
    height:100vh;
}
.block1{
    background-color: black;
}
.block2{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.block3{
    background-color: black;
    height: 100%;
}
.logo{
    width: 200px;
    height: 200px;
}
.center {
  margin: auto;
}
.table-center{
    padding-top: 200px;
    font-family: fantasy;
    font-size: 25px;
}
#links{
    color: white;
}
.skill-li{
    list-style: none;
}
#img{
    border-radius: 4px;
    height: 100px;
}